/* pages/workspace/index/index.wxss */

.index {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  &__top {
    padding: 64rpx 32rpx 108rpx;
    background-color: var(--primary-color);
  }

  &__company {
    display: flex;
    justify-content: space-between;
    color: #fff;

    &__name {
      font-size: 1.2em;
      font-weight: bold;
    }

    &__switch {
      &__icon {
        margin-left: 16rpx;
        rotate: 90deg;
      }
    }
  }

  &__middle {
    height: 96rpx;
    background-color: #ebebeb;
    position: relative;
  }


  &__quick {
    width: 90%;
    max-width: 750rpx;
    padding: 0 24rpx;
    display: flex;
    border-radius: 18rpx;
    overflow: hidden;
    height: 96rpx;
    align-items: center;
    position: absolute;
    top: -48rpx;
    left: 50%;
    transform: translateX(-50%);

    &__splitline {
      margin: 0 24rpx;
      width: 1px;
      height: 64rpx;
      background-color: #ccc;
    }

    &__entry {
      flex: 1;
      text-align: center;
      --button-border-width:0;

      .van-icon {
        color: var(--primary-color);
        font-weight: bold;
        margin-right: 12rpx;
      }

      &:hover{
        background-color: #f1f1f1;
      }
    }

    background-color: #fff;
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
  }

  &__apps{
    padding: 24rpx !important;
    flex: 1;
    .van-grid-item__icon{
      height: 48px!important;
      width: 48px!important;
      color: #fff;
      border-radius: 8px;
      display: flex;
      justify-content: center;
    }
  }

  &__app--project{
    background-color: rgb(196, 0, 0);
  }

  &__app--todo {
    background-color: rgb(253, 143, 0);
  }

  &__app--project-new {
    background-color: rgb(0, 160, 253);
  }
}